/*
  Palette used:
  - Dark blue:  #2B3A42 rgb(43,58,66)
  - Blue:       #3F5765 rgb(63,87,101)
  - Light blue: #BDD4DE rgb(189,212,222)
  - Gray-ish:   #EFEFEF rgb(239,239,239)
  - Orange:     #E45E2C rgb(228,94,44)
 */

* {
  margin: 0;
  padding: 0;

  font-family: 'Roboto', sans-serif;
  font-size: 18px;
  color: #2B3A42;
}

body {
  background: #3F5765;
}

/********** Everything related to the navbar **********/
/*
The navbar will almost always be reused across the page.
So it makes sense to put all the CSS related to the nav
in the library itself.
 */
header {
  padding: 0 5%;
  background: #2B3A42;
}

.navbar > ul {
  display: flex;
  list-style-type: none;
}

.navbar-right {
  margin-left: auto;
}

/***Main section***/
main {
  padding: 16px 5%;
  background: rgba(239,239,239, 0.2);
}

.module {
  padding: 32px 32px;
  background: #EFEFEF;
}

/***Stylings***/
.title {
  margin: 16px 0;
}

.main-title {
  font-size: 1.8em;
}

.section-title {
  font-size: 1.3em;
}

/***Avatar thumbnail usage***/
.avatar {
  margin: 8px;
  border-radius: 100%;
}

.avatar-sm {
  width: 32px;
  height: 32px;
}

.avatar-md {
  width: 48px;
  height: 48px;
}

.avatar-lg {
  width: 64px;
  height: 64px;
}
