/*
  Palette used:
  - Dark blue: #2B3A42;
  - Blue: #3F5765;
  - Light blue: #BDD4DE;
  - Gray-ish: #EFEFEF;
  - Orange: #E45E2C;
 */

* {
  margin: 0;
  padding: 0;
}

.navbar {
  background: #2B3A42;
}

.navbar > ul {
  display: flex;
  list-style-type: none;
}

.navbar-right {
  margin-left: auto;
}
