/*
  Palette used:
  - Dark blue:  #2B3A42 rgb(43,58,66)
  - Blue:       #3F5765 rgb(63,87,101)
  - Light blue: #BDD4DE rgb(189,212,222)
  - Gray-ish:   #EFEFEF rgb(239,239,239)
  - Orange:     #E45E2C rgb(228,94,44)
 */

/***Older browser support***/
header, section, footer, aside, nav, main, article, figure {
  display: block;
}

/**** Page specifics ****/
* {
  margin: 0;
  padding: 0;

  font-family: 'Roboto', sans-serif;
  font-size: 18px;
}

body {
  background: #3F5765;
}

/********** Everything related to the navbar **********/
/*
The navbar will almost always be reused across the page.
So it makes sense to put all the CSS related to the nav
in the library itself.
 */
header {
  background: #2B3A42;
}

.navbar {
  height: 48px;
  color: #EFEFEF;
  list-style-type: none;
  display: flex;
  align-items: center;
}

.navbar a,
.navbar a:visited {
  font-size: 18px;
  font-weight: 700;
  color: #EFEFEF;
  text-decoration: none;
}

.navbar a:hover {
  color: #E45E2C;
}

.navbar li {
  margin: 0 8px;
}

.navbar li:first-child, #search-bar {
  margin-left: 0;
}

.navbar li:last-child {
  margin-right: 0;
}

.navbar i {
  margin: 0 4px;
}

#logo {
  font-size: 24px;
}

#navbar-center {
  margin: 0 auto;
  display: flex;
}

#navbar-center > li {
  margin: 0 16px;
}

#search-bar {
  padding: 4px;
  border: none;
  color: #EFEFEF;
  background-color: #3F5765;
}

/**** Containers ****/
.main-container {
  padding-left: 5%;
  padding-right: 5%;
}

.module {
  padding-top: 32px;
  padding-bottom: 32px;
  background: #EFEFEF;
}

/***Main section***/
main {
  padding-top: 16px;
  padding-bottom: 16px;
  background: rgba(239,239,239, 0.4);
  color: #2B3A42;
}

/***Stylings***/
.title {
  margin: 16px 0;
}

.main-title {
  font-size: 1.8em;
}

.section-title {
  font-size: 1.3em;
}

/***Avatar thumbnail usage***/
.avatar {
  border-radius: 100%;
}

.avatar-sm {
  width: 32px;
  height: 32px;
}

.avatar-md {
  width: 48px;
  height: 48px;
}

.avatar-lg {
  width: 64px;
  height: 64px;
}
