.list {
  padding-right: 0;
  padding-left: 0;
  border: 1px solid rgba(200, 200 , 200, 0.4);
}

.preview {
  display: flex;
  align-items: center;
  margin-bottom: 0;
}

.preview:hover {
  background-color: rgba(255, 255, 255, 0.5);
}

.preview:first-of-type {
  padding-top: 16px;
}

.message-preview {
  margin-left: 2%;
}

.message-header {
  background-color: none;
  display: flex;
  align-items: center;
}

.message-header .date {
  align-self: center;
}

.preview img {
  width: 126px;
  height: 126px;
}
