.carousel {
  list-style-type: none;
  margin: 0 auto;

  /* To keep a 16:9 ratio with a responsive image sizing, */
  /* use the followin properties on father container.     */
  padding-bottom: 50.62%;
  width: 90%;
  position: relative;
}

.carousel img {
  position: absolute;
  object-fit: cover;
  width: 100%;
  height: 100%;
}

.carousel-preview {
  width: 100%;
  height: 26%;
  bottom: 0;
  position: absolute;
  opacity: 0.5;
  background-color: black;
  color: #EFEFEF;
}

.carousel-preview > * {
  padding: 0 5%;
}

.carousel-preview .title {
  margin-top: 2%;
  margin-bottom: 2px;
  font-size: 1.5em;
}

/* Image selectors */
.carousel-selectors {
  list-style-type: none;
  width: 100%;
  position: absolute;
  bottom: 2%;
  display: flex;
  justify-content: center;
  opacity: 0.5;
}

.carousel-selectors li {
  display: block;
  margin: 0 1%;
}

.carousel-selectors input[type="radio"] {
  height: 0;
  width: 0;
  opacity: 0;
  cursor: pointer;
}

.carousel-selector {
  width: 10px;
  height: 10px;
  border-radius: 100%;
  border: 2px solid #eee;
}

.carousel-selector:hover {
  background-color: #ddd;
}

/*.carousel-selectors input[type="radio"]:checked  + .carousel-selector {
  background-color: #eee;
  border: 3px solid black;
}*/

/*Arrows*/
.carousel > button {
  position: absolute;
  bottom: 50%;
  background: none;
  border: none;
  opacity: 0.5;
}

.carousel > button:hover {
  opacity: 1;
}

.carousel > button > .fas {
  font-size: 3em;
  color: #EFEFEF;
}

.carousel > button:first-of-type {
  left: 2%;
}

.carousel > button:last-of-type {
  right: 2%;
}

.post-list {
  padding: 0 5%;
  list-style-type: none;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.post-preview {
  display: flex;
  padding-left: 2%;
  padding-right: 1%;
  padding-bottom: 16px;
  margin-bottom: 16px;
  border-bottom: 2px solid rgb(200, 200 , 200, 0.4);
}

li:last-child > .post-preview {
  border-bottom: none;
}

.post-preview img {
  height: 152px;
  width: 152px;
  object-fit: cover;
  align-self: center;
}

.post-preview-content {
  margin-left: 2%;
}

.post-preview-content h3 {
  font-size: 21px;
}

.post-preview-content > .post-excerpt, .post-author, .post-date {
  margin-bottom: 8px;
}

.post-excerpt, .post-date {
  opacity: 0.8;
}

.post-date, .post-score > .fas, .far {
  font-size: 14px;
}

.post-author {
  font-weight: 500;
}

@media screen and (max-width: 750px) {
  .carousel {
    padding-bottom: 56.25%;
    width: 100%;
  }

  .carousel-preview > p {
    display: none;
  }

  .carousel-preview > .title {
    text-align: center;
  }

  .post-preview {
    padding-right: 2%;
    flex-direction: column;
  }

  .post-preview img {
    height: 240px;
    width: 240px;
    align-self: center;
  }

  .post-preview-content {
    margin-left: 0;
  }
}
