.blog-post {
  text-align: justify;
}

.blog-post > p {
  line-height: 1.5em;
  margin-bottom: 16px;
}

.author {
  /*height: 128px;*/
  display: flex;
  justify-content: center;
}

.author-description {
  display: flex;
  flex-direction: column;
  align-self: center;
  /*align-content: space-between;*/
}

.score {
  opacity: 0.5;
}

.comment-list {
  list-style-type: none;
}

.respond-form {
  display: flex;
  justify-content: center;
}

.respond-form input {
  display: block;
}

.comment {
  text-align: justify;
  display: flex;
}
