.blog-post {
  text-align: justify;
}

.blog-post > p {
  line-height: 1.5em;
  margin-bottom: 8px;
}

.author {
  display: flex;
  justify-content: center;
}

.comment-list {
  list-style-type: none;
}

.respond-form {
  display: flex;
  justify-content: center;
}

.respond-form input {
  display: block;
}

.comment {
  text-align: justify;
  display: flex;
}
