<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>SocialDev</title>

  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.5.0/css/all.css" integrity="sha384-B4dIYHKNBt8Bc12p+WXckhzcICo0wtJAoU8YZTY5qE0Id1GSseTk6S+L3BlXeVIU" crossorigin="anonymous">
  <link href="https://fonts.googleapis.com/css?family=Roboto:400,500,700,900" rel="stylesheet">
  <link rel="stylesheet" type="text/css" href="../css/library.css">
  <!-- <link id="mainCSS"rel="stylesheet" type="text/css" href="../css/{{cssFile}}.css"> -->
  <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/mustache.js/3.0.1/mustache.min.js"></script>

  <main class="main-container">
    <section class="module main-container">
      <h2 class="title section-title">Inbox</h2>
      <ol class="list">
        <li>
          <article class="preview">
            <img class="avatar avatar-lg" src="https://via.placeholder.com/600x600">
            <div class="message-preview">
              <header class="message-header">
                <h3 class="title">User name <span class="date">• 11-19-2018 20:06</span></h3>
              </header>
              <article class="message-content-preview">
                <p>Elit commodo dolore nisi minim velit labore consectetur veniam eu esse nulla veniam laboris proident occaecat reprehenderit id sint magna ullamco adipisicing voluptate dolor.</p>
              </article>
            </div>
          </article>
        </li>
        <li>
          <article class="preview">
            <img class="avatar avatar-lg" src="https://via.placeholder.com/600x600">
            <div class="message-preview">
              <header class="message-header">
                <h3 class="title">User name <span class="date">• 11-19-2018 20:06</span></h3>
              </header>
              <article class="message-content-preview">
                <p>Elit commodo dolore nisi minim velit labore consectetur veniam eu esse nulla veniam laboris proident occaecat reprehenderit id sint magna ullamco adipisicing voluptate dolor.</p>
              </article>
            </div>
          </article>
        </li>
        <li>
          <article class="preview">
            <img class="avatar avatar-lg" src="https://via.placeholder.com/600x600">
            <div class="message-preview">
              <header class="message-header">
                <h3 class="title">User name <span class="date">• 11-19-2018 20:06</span></h3>
              </header>
              <article class="message-content-preview">
                <p>Elit commodo dolore nisi minim velit labore consectetur veniam eu esse nulla veniam laboris proident occaecat reprehenderit id sint magna ullamco adipisicing voluptate dolor.</p>
              </article>
            </div>
          </article>
        </li>
        <li>
          <article class="preview">
            <img class="avatar avatar-lg" src="https://via.placeholder.com/600x600">
            <div class="message-preview">
              <header class="message-header">
                <h3 class="title">User name <span class="date">• 11-19-2018 20:06</span></h3>
              </header>
              <article class="message-content-preview">
                <p>Elit commodo dolore nisi minim velit labore consectetur veniam eu esse nulla veniam laboris proident occaecat reprehenderit id sint magna ullamco adipisicing voluptate dolor.</p>
              </article>
            </div>
          </article>
        </li>
      </ol>
    </section>
  </main>

</body>
</html>
