html, body {
  margin: 0;
  height: 100%;
}

.landing {
  min-height: 100%;
  height: 100%;
  width: 100%;
  background-color: #3F5765;
  color: #EFEFEF;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.landing h1, .landing h2 {
  font-size: 38px;
  margin-bottom: 16px;
}

.landing h1 {
  letter-spacing: 0.25em;
}

@media screen and (max-width: 510px) {
  .landing h1, .landing h2 {
    text-align: center;
  }
}
