.avatar-sm, .avatar-md, .avatar-lg, .avatar-xlg {
  object-fit: cover;
  border-radius: 100%; }

.avatar-sm {
  min-width: 32px;
  width: 32px;
  height: 32px; }

.avatar-md {
  min-width: 48px;
  width: 48px;
  height: 48px; }

.avatar-lg {
  min-width: 64px;
  width: 64px;
  height: 64px; }

.avatar-xlg {
  min-width: 152px;
  width: 152px;
  height: 152px; }

#navbar {
  height: 46px;
  font-weight: 700;
  color: #EFEFEF;
  background: #2B3A42; }
  #navbar ul {
    height: 100%;
    display: flex;
    align-items: center;
    list-style-type: none; }
  #navbar li {
    cursor: pointer; }
  #navbar li:hover, #navbar li a:hover {
    color: #E45E2C; }
  #navbar li:not(:last-child):not(#nav-logo):not(#search-icon):not(#search-bar) {
    margin-left: 4px;
    margin-right: 14px; }
  #navbar a,
  #navbar a:visited {
    color: #EFEFEF;
    text-decoration: none; }
  #navbar input[type="text"], #navbar #search-icon {
    color: #EFEFEF;
    background-color: #3F5765; }
  #navbar input[type="text"] {
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
    margin-right: 14px; }
  #navbar #search-icon {
    height: 26px;
    display: flex;
    margin-right: 0;
    padding-left: 5px;
    align-items: center;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px; }
  #navbar .fa-home,
  #navbar .fa-globe {
    margin-right: 3px; }
  #navbar #nav-logo {
    margin-left: auto;
    margin-right: auto; }
    #navbar #nav-logo a {
      font-size: 1.3em; }
  #navbar #menu-bar {
    display: none; }

.main-container {
  margin-left: 10%;
  margin-right: 10%; }

.min-container {
  display: flex;
  justify-content: flex-start; }

.avatar-sm, .avatar-md, .avatar-lg, .avatar-xlg {
  object-fit: cover;
  border-radius: 100%; }

.avatar-sm {
  min-width: 32px;
  width: 32px;
  height: 32px; }

.avatar-md {
  min-width: 48px;
  width: 48px;
  height: 48px; }

.avatar-lg {
  min-width: 64px;
  width: 64px;
  height: 64px; }

.avatar-xlg {
  min-width: 152px;
  width: 152px;
  height: 152px; }

input[type="text"] {
  border: 0;
  border-radius: 5px;
  padding: 2px 5px; }

.main-title {
  font-size: 1.8em; }

.dropdown {
  position: relative;
  display: inline-block; }

.dropdown-content {
  position: absolute;
  display: none; }

.dropdown:hover .dropdown-content {
  display: block; }

.list {
  padding-left: 5%;
  padding-right: 5%;
  list-style-type: none;
  display: flex;
  flex-direction: column; }

#post-content {
  text-align: justify;
  line-height: 1.5em; }

#post-options {
  display: flex;
  justify-content: flex-end; }

.comment-header {
  display: flex;
  justify-content: space-between; }

header, section, footer, aside, nav, main, article, figure {
  display: block; }

* {
  margin: 0;
  padding: 0;
  font-family: 'Roboto', sans-serif;
  font-size: 18px; }

body {
  background: #EFEFEF; }

.summary {
  display: flex;
  flex-direction: column;
  justify-content: space-around; }

.date {
  font-size: 0.8em;
  letter-spacing: 0.05em; }
