.main-container {
  margin-left: 10%;
  margin-right: 10%; }

.min-container {
  padding-left: 4px;
  padding-right: 4px;
  display: flex;
  justify-content: flex-start;
  margin-top: 2px;
  margin-bottom: 16px; }
  .min-container .summary {
    margin-left: 8px;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-around; }

.avatar-sm, .avatar-md, .avatar-lg, .avatar-xlg {
  object-fit: cover;
  border-radius: 100%; }

.avatar-sm {
  min-width: 32px;
  width: 32px;
  height: 32px; }

.avatar-md {
  min-width: 48px;
  width: 48px;
  height: 48px; }

.avatar-lg {
  min-width: 64px;
  width: 64px;
  height: 64px; }

.avatar-xlg {
  min-width: 152px;
  width: 152px;
  height: 152px; }

.post-preview {
  height: 152px;
  width: 152px;
  object-fit: cover; }

input[type="text"], input[type="password"], input[type="email"], input[type="file"], textarea {
  border: 0;
  border-radius: 5px;
  padding: 9px 15px; }

textarea {
  resize: none; }

.btn-primary, .btn-secondary, .btn-danger {
  border-radius: 5px;
  padding: 7px 10px;
  cursor: pointer; }

.btn-primary {
  color: #EFEFEF;
  background-color: #3F5765; }

.btn-primary:hover {
  color: #2B3A42;
  background-color: rgba(63, 87, 101, 0.8); }

.btn-secondary {
  color: #2B3A42;
  border: 1px solid rgba(0, 0, 0, 0.4);
  background-color: #EFEFEF; }

.btn-secondary:hover {
  color: #EFEFEF;
  background-color: rgba(63, 87, 101, 0.8); }

.btn-danger {
  color: #EFEFEF;
  background-color: #FF4C4C; }

.btn-danger:hover {
  background-color: #FF0202; }

.main-title, .section-title, .message {
  margin: 16px 0; }

.main-title {
  font-size: 1.8em; }

.section-title {
  font-size: 1.3em; }

.message {
  align-self: center;
  color: rgba(0, 0, 0, 0.5);
  font-size: 1.3em; }

.dropdown {
  position: relative;
  display: inline-block; }

.dropdown-content {
  font-weight: 400;
  position: absolute;
  display: flex;
  flex-direction: column;
  padding: 5px 0;
  background-color: #EFEFEF;
  box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.5); }
  .dropdown-content > * {
    display: none;
    text-align: center; }

.dropdown:hover .dropdown-content {
  border: 1px solid rgba(0, 0, 0, 0.2); }
  .dropdown:hover .dropdown-content > * {
    display: block; }

#carousel {
  list-style-type: none;
  margin: 0 auto;
  /* To keep a 16:9 ratio with a responsive image sizing, */
  /* use the followin properties on father container.     */
  padding-bottom: 50.62%;
  width: 90%;
  position: relative;
  /*Arrows*/ }
  #carousel img {
    position: absolute;
    object-fit: cover;
    width: 100%;
    height: 100%; }
  #carousel > button {
    position: absolute;
    bottom: 50%;
    background: none;
    border: none;
    opacity: 0.5; }
  #carousel > button:hover {
    opacity: 1; }
  #carousel > button > .fas {
    font-size: 3em;
    color: #EFEFEF; }
  #carousel > button:first-of-type {
    left: 2%; }
  #carousel button:last-of-type {
    right: 2%; }

.carousel-el-preview {
  padding-top: 16px;
  width: 100%;
  height: 20%;
  bottom: 0;
  position: absolute;
  opacity: 0.5;
  background-color: black;
  color: #EFEFEF; }
  .carousel-el-preview > * {
    opacity: 1.0;
    padding-left: 5%;
    padding-right: 5%; }

#carousel-selectors {
  list-style-type: none;
  width: 100%;
  position: absolute;
  bottom: 2%;
  display: flex;
  justify-content: center;
  opacity: 0.5; }
  #carousel-selectors li {
    display: block;
    margin: 0 1%; }
  #carousel-selectors input[type="radio"] {
    height: 0;
    width: 0;
    opacity: 0;
    cursor: pointer; }

.carousel-selector {
  width: 10px;
  height: 10px;
  border-radius: 100%;
  border: 2px solid #eee; }

.carousel-selector:hover {
  background-color: #ddd; }

.rd-selected {
  background-color: #eee; }

.list {
  padding-left: 5%;
  padding-right: 5%;
  list-style-type: none;
  display: flex;
  flex-direction: column; }
  .list li:hover {
    background-color: rgba(255, 255, 255, 0.5); }

.avatar-sm, .avatar-md, .avatar-lg, .avatar-xlg {
  object-fit: cover;
  border-radius: 100%; }

.avatar-sm {
  min-width: 32px;
  width: 32px;
  height: 32px; }

.avatar-md {
  min-width: 48px;
  width: 48px;
  height: 48px; }

.avatar-lg {
  min-width: 64px;
  width: 64px;
  height: 64px; }

.avatar-xlg {
  min-width: 152px;
  width: 152px;
  height: 152px; }

.post-preview {
  height: 152px;
  width: 152px;
  object-fit: cover; }

#navbar {
  min-height: 46px;
  font-weight: 700;
  color: #EFEFEF;
  background: #2B3A42;
  align-content: center; }
  #navbar ul {
    height: 100%;
    display: flex;
    align-items: center;
    list-style-type: none; }
  #navbar li {
    cursor: pointer; }
  #navbar li:hover, #navbar li a:hover {
    color: #E45E2C; }
  #navbar li:not(:last-child):not(#nav-logo):not(#search-icon):not(#search-bar) {
    margin-left: 4px;
    margin-right: 14px; }
  #navbar a,
  #navbar a:visited {
    color: #EFEFEF; }
  #navbar input[type="text"] {
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
    margin-right: 14px; }
  #navbar .btn {
    padding: 2px 8px;
    border-radius: 5px; }
  #navbar #login {
    color: #3F5765; }
  #navbar #login:hover {
    color: #E45E2C; }
  #navbar .fa-home,
  #navbar .fa-globe {
    margin-right: 3px; }
  #navbar .dropdown-content {
    height: auto; }
    #navbar .dropdown-content .btn {
      color: #3F5765;
      padding: 2px 0;
      border: none;
      border-radius: 0;
      min-width: 128px; }
    #navbar .dropdown-content .btn:hover {
      color: #EFEFEF; }
  #navbar #menu-bar {
    display: none; }
  #navbar input[type="text"], #navbar #search-icon {
    color: #EFEFEF;
    background-color: #3F5765; }
  #navbar #search-icon {
    height: 26px;
    display: flex;
    margin-right: 0;
    padding-left: 5px;
    align-items: center;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px; }
  #navbar #search-bar input {
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    padding-top: 2px;
    padding-bottom: 2px;
    padding-left: 8px; }
  #navbar #nav-logo {
    margin-left: auto;
    margin-right: auto; }
    #navbar #nav-logo a {
      font-size: 1.3em; }

#user-profile {
  padding: 10px 0;
  color: #EFEFEF;
  background-color: #3F5765;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center; }
  #user-profile .dropdown > button {
    color: #EFEFEF; }
  #user-profile .dropdown form > button {
    width: 160px;
    border: none;
    border-radius: 0; }

#user-summary {
  display: flex;
  justify-content: center;
  flex-wrap: wrap; }

.summary-section {
  display: flex;
  flex-direction: column;
  margin-left: 8px;
  margin-right: 8px; }
  .summary-section h2 {
    margin-bottom: 4px; }

#user-summary p {
  align-self: center; }

#edit-profile > form {
  display: flex;
  flex-direction: column; }
  #edit-profile > form > * {
    margin-bottom: 8px; }
  #edit-profile > form .btn-secondary {
    text-align: center; }

#post-content {
  text-align: justify;
  line-height: 1.5em;
  margin-bottom: 16px; }

#author-sum {
  align-self: center;
  box-sizing: border-box; }

#post-options .dropdown-content .btn, #comment-section .dropdown-content .btn {
  padding: 2px 0;
  min-width: 128px;
  border: none;
  border-radius: 0; }

#post-options .dropdown-content .btn:hover, #comment-section .dropdown-content .btn:hover {
  color: #EFEFEF; }

#post-options {
  display: flex;
  justify-content: flex-end; }

#comment-section {
  display: flex;
  flex-direction: column; }

#reply-comment {
  align-self: center;
  justify-content: center;
  width: 50%; }
  #reply-comment button {
    margin-top: 8px; }

#reply-comment .summary form {
  display: flex;
  flex-direction: column; }

.comment-header {
  display: flex;
  justify-content: space-between; }

#sign-form {
  height: 100%;
  align-self: center;
  display: flex;
  align-items: center;
  justify-content: center; }
  #sign-form form {
    display: flex;
    flex-direction: column; }
    #sign-form form .btn {
      padding: 7px 10px;
      width: 280px;
      border-radius: 5px; }
    #sign-form form .btn-secondary {
      text-align: center;
      width: 260px; }
    #sign-form form input {
      padding: 9px 10px;
      width: 260px;
      height: 22px; }
    #sign-form form * {
      margin-bottom: 8px; }

header, section, footer, aside, nav, main, article, figure {
  display: block; }

* {
  margin: 0;
  padding: 0;
  font-family: 'Roboto', sans-serif;
  font-size: 18px; }

html, body {
  margin: 0;
  height: 100%;
  display: flex;
  flex-direction: column; }

body {
  background: #EFEFEF; }

main {
  color: #3F5765;
  display: flex;
  flex-direction: column; }

a,
a:visited {
  color: #3F5765;
  text-decoration: none; }

button {
  background: none;
  border: none; }

.date {
  font-size: 0.8em;
  letter-spacing: 0.05em; }

.inactive {
  display: none; }
