<script id="post-li" type="x-tmpl-mustache">
  {{=<% %>=}}{{#posts}}<%={{ }}=%>
  <li>
    <article class="preview">
      <img src="{{=<% %>=}}{{post.path}}<%={{ }}=%>">
      <div class="post-preview-content">
        <a href="./posts/{{=<% %>=}}{{post.id}}<%={{ }}=%>"><h3 class="title">{{=<% %>=}}{{post.title}}<%={{ }}=%></h3></a>
        <article class="post-excerpt">
          <p>{{=<% %>=}}{{post.content}}<%={{ }}=%></p>
        </article>
        <article class="post-author">
          {{=<% %>=}}{{post.authorName}}<%={{ }}=%>
        </article>
        <section class="date">
          {{=<% %>=}}{{post.date}}<%={{ }}=%>
        </section>
        <section class="post-score">
          <i class="fas fa-star"></i>
          <i class="fas fa-star"></i>
          <i class="fas fa-star-half-alt"></i>
          <i class="far fa-star"></i>
          <i class="far fa-star"></i>
        </section>
      </div>
    </article>
  </li>
  {{=<% %>=}}{{/posts}}<%={{ }}=%>
</script>
