<article class="preview">
  <img src="{{=<% %>=}}{{path}}<%={{ }}=%>">
  <div class="post-preview-content">
    <a href="./posts/{{=<% %>=}}{{id}}<%={{ }}=%>"><h3 class="title">{{=<% %>=}}{{title}}<%={{ }}=%></h3></a>
    <article class="post-excerpt">
      <p>{{=<% %>=}}{{content}}<%={{ }}=%></p>
    </article>
    <article class="post-author">
      {{=<% %>=}}{{author}}<%={{ }}=%>
    </article>
    <section class="date">
      {{=<% %>=}}{{date}}<%={{ }}=%>
    </section>
    <section class="post-score">
      <i class="fas fa-star"></i>
      <i class="fas fa-star"></i>
      <i class="fas fa-star-half-alt"></i>
      <i class="far fa-star"></i>
      <i class="far fa-star"></i>
    </section>
  </div>
</article>
