{{> ./partials/header}}
  <link id="mainCSS" rel="stylesheet" type="text/css" href="/css/create-post.css">
{{> ./partials/navbar}}

<main class="main-container">
  <section class="module main-container">
    <h1 class="title main-title">Edit {{title}}</h1>
    <form class="post-form" action="/posts/{{id}}?_method=PUT" method="POST">
      <label class="title section-title" for="post-title">Post title:</label>
      <input class="text-input" id="post-title" type="text" name="post[title]" placeholder="Post title" value="{{title}}">
      <label class="title section-title" for="post-content">Content:</label>
      <textarea class="text-input" id="post-content" name="post[text]" placeholder="Write your post content here...">{{text}}</textarea>
      <div class="post-submission">
        <button class="btn btn-primary" type="submit">Edit</button>
        <button class="btn btn-secondary">Cancel</button>
      </div>
    </form>
  </section>
</main>

{{> ./partials/footer}}
