{{> ./partials/header}}
{{> ./partials/navbar}}

<main class="main-container">
  <section id="create-post-form">
    <h1 class="main-title">Create a new post for SocialDev</h1>
    <form class="post-form" action="/posts" method="POST">
      <label class="section-title" for="post-title">Post title:</label>
      <input id="post-title" type="text" name="title" placeholder="Post title">
      <label section-title" for="post-content">Content:</label>
      <textarea id="post-content" name="text" placeholder="Write your post content here..."></textarea>
      <div class="post-submission">
        <button class="btn-secondary">Cancel</button>
        <button class="btn-primary" type="submit">Publish</button>
      </div>
    </form>
  </section>
</main>

{{> ./partials/footer}}
