{{> ./partials/header}}
{{> ./partials/navbar}}

<main class="main-container">
  <section id="create-post">
    <h1 class="main-title">Create a new post for SocialDev</h1>
    <form class="form" action="/posts" method="POST">
      <label class="section-title" for="post-title">Post title:</label>
      <input type="text" name="title" placeholder="Post title">
      <label section-title" for="post-content">Content:</label>
      <textarea name="text" placeholder="Write your post content here..."></textarea>
      <div id="submit-post">
        <a class="btn btn-secondary">Cancel</a>
        <button class="btn btn-primary" type="submit">Publish</button>
      </div>
      </div>
    </form>
  </section>
</main>

{{> ./partials/footer}}
