{{> ./partials/header}}
{{> ./partials/navbar}}

  <main class="main-container">
    <article>
      <h1 class="main-title">{{title}}</h1>
      <article id="post-content">{{text}}</article>
    </article>

    <!-- Author description -->
    <article id="author-sum" class="min-container">
      <img class="avatar-lg" src="{{API_HOST}}/{{author.profilePic}}">
      <div class="summary">
        <h2>{{author.firstName}} {{author.lastName}}</h2>
        <p>Level: <span>{{author.level}}</span></p>
        <p class="date">Published on: {{date}}</p>
      </div>
    </article>

    {{#isAuthor}}
    <section id="post-options">
      <div class="dropdown">
        <button><i class="fas fa-ellipsis-h"></i></button>
        <ul class="dropdown-content">
          <a href="/posts/{{id}}/edit">Edit</a>
          <form action="/posts/{{id}}?_method=DELETE" method="POST">
            <button type="submit">Delete</button>
          </form>
        </ul>
      </div>
    </section>
    {{/isAuthor}}

    <!-- Rate article -->
    {{#hasSession}}
    <section>
      <h2>Rate this article</h2>
      <section>
        <i class="fas fa-star"></i>
        <i class="fas fa-star"></i>
        <i class="fas fa-star"></i>
        <i class="fas fa-star"></i>
        <i class="fas fa-star"></i>
      </section>
    </section>
    {{/hasSession}}

    <section id="comment-section">
      {{#hasSession}}
      <!-- "Leave a comment" section -->
      <section id="reply-comment">
        <h2>Leave a comment</h2>
        <section class="min-container">
          <img class="avatar-md" src="{{API_HOST}}/{{ppPath}}">
          <div class="summary">
            <form action="/posts/{{id}}/comments" method="POST">
              <textarea name="comment[content]">{{content}}</textarea>
              <button type="submit">Leave a comment!</button>
            </form>
          </div>
        </section>
      </section>
      {{/hasSession}}

      <!-- Comment list starts here -->
      <h2>Comments</h2>
      <ol class="list">
      {{#comments}}
        <li>
        {{> ./partials/comment-list-li}}
        </li>
      {{/comments}}
      </ol>
    </section>
  </main>

{{> ./partials/footer}}
