{{> ./partials/header}}
{{> ./partials/navbar}}

<main class="main-container">
  <section class="module main-container">
    <h1 class="title main-title">Oops! Something went wrong.</h1>
    <p>Status code: {{status}}</p>
  </section>
</main>

{{> ./partials/footer}}
