{{> ./partials/header}}
{{> ./partials/navbar}}

<main class="main-container">
  <section>
    <h2 class="main-title">Home</h2>
    {{#posts.length}}
    <ol class="list">
      {{#posts}}
      <li>
        {{> ./partials/post-list-li}}
      </li>
      {{/posts}}
    </ol>
    {{/posts.length}}
    {{^posts}}
    <p class="message">Seems like your friends haven't posted anything yet. :(</p>
    {{/posts}}
  </section>
</main>

{{> ./partials/footer}}
