{{> ./partials/header}}

<main id="landing">
  <h1 class="main-title">{SocialDev}</h1>
  <h2 class="section-title">Social network for developers</h2>
  <div>
    <a class="btn-primary" href="sign-up.html">Sign Up</a>
    <a class="btn-secondary" href="sign-in.html">Sign In</a>
  </div>
</main>

{{> ./partials/footer}}
