{{> ../partials/header}}
  <link id="mainCSS"rel="stylesheet" type="text/css" href="../css/profile.css">
{{> ../partials/navbar}}

  <main>
    <section>
      <header class="profile-header">
        <div class="user-summary">
          <div class="user-info">
            <img class="avatar avatar-xlg" src="https://via.placeholder.com/500x500">
            <h1 class="title main-title">User name</h1>
            <p>Level: 10</p>
          </div>
          <summary class="stats">
            <h3 class="title section-title">Posts</h3>
            <p>14</p>
            <h3 class="title section-title">Score</h3>
            <p><i class="fas fa-star"></i>3.5 avg</p>
            <h3 class="title section-title">Comments</h3>
            <p>23</p>
          </summary>
        </div>
        <div class="user-options">
          <button class="btn btn-submit" type="submit">Add Friend</button>
          <button class="btn btn-cancel" type="button">Send Message</button>
        </div>
      </header>
    </section>

    <main class="main-container">
      <section class="main-container module">
        <h2 class="title section-title">Posts</h2>
        <ol class="list"></ol>
        {{> ./partials/post-list}}
      </section>
    </main>
  </main>

{{> ../partials/footer}}
