main {
  margin: 0;
  padding: 0;
}

.profile-header {
  width: 100%;
  padding: 32px 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #3F5765;
  color: #EFEFEF;
}

.user-summary {
  display: flex;
  align-content: space-around;
}

.user-info {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

h1.title {
  letter-spacing: 0.1em;
  text-align: center;
}

.stats {
  margin-left: 5%;
  text-align: center;
  font-weight: 700;
  display: flex;
  flex-direction: column;
  align-content: space-between;
}

.stats .fas, .stats .far {
  margin: 0.5em;
  font-size: 18px;
}

.user-options {
  margin: 16px 0;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.user-options > button {
  text-align: center;
  width: 50%;
  margin-bottom: 8px;
}

.user-options > button:first-of-type {
  background-color: #153184;
}

@media screen and (max-width: 550px) {
  .profile-header {
    padding-top: 8px;
    flex-direction: column;
  }

  .user-summary {
    flex-direction: column;
  }

  .stats {
    margin-left: 0;
  }
}
