// Color palette
// - Dark blue:  #2B3A42 rgb(43,58,66)
// - Blue:       #3F5765 rgb(63,87,101)
// - Light blue: #BDD4DE rgb(189,212,222)
// - Gray-ish:   #EFEFEF rgb(239,239,239)
// - Orange:     #E45E2C rgb(228,94,44)
$dark-blue: #2B3A42;  // Navbar background
$blue: #3F5765;
$light-blue: #BDD4DE;
$gray: #EFEFEF;       // Body background
$orange: #E45E2C;     // Highlight over dark background

@import 'mixins';
@import 'images';

#navbar {
  // Sizes
  min-height: 46px;
  // Font
  font-weight: 700;
  // Colors
  color: $gray;
  background: $dark-blue;
  align-content: center;

  ul {
    height: 100%;
    display: flex;
    align-items: center;
    list-style-type: none;
  }

  li {
    cursor: pointer;
  }

  li:hover, li a:hover {
    color: $orange;
  }

  li:not(:last-child):not(#nav-logo):not(#search-icon):not(#search-bar) {
    margin-left: 4px;
    margin-right: 14px;
  }

  a,
  a:visited {
    color: $gray;
  }

  input[type="text"] {
    @extend %search;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
    margin-right: 14px;
  }

  .btn {
    padding: 2px 8px;
    border-radius: 5px;
  }

  #login {
    color: $blue;
  }

  #login:hover {
    color: $orange;
  }

  .fa-home,
  .fa-globe {
    margin-right: 3px;
  }

  .dropdown-content {
    height: auto;
    .btn {
      color: $blue;
      padding: 2px 0;
      border-radius: 0;
      min-width: 128px;
    }
    .btn:hover {
      color: $gray;
    }
  }

  #menu-bar {
    display: none;
  }

  %search {
    color: $gray;
    background-color: $blue;
  }

  #search-icon {
    @extend %search;
    height: 26px;
    display: flex;
    margin-right: 0;
    padding-left: 5px;
    align-items: center;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
  }

  #search-bar {
    input {
      border-top-right-radius: 5px;
      border-bottom-right-radius: 5px;
      padding-top: 2px;
      padding-bottom: 2px;
      padding-left: 8px;
    }
  }

  #nav-logo {
    @include sides-margin(auto);
    a {
      font-size: 1.3em;
    }
  }
}
