#user-profile {
  padding: 10px 0;
  color: $gray;
  background-color: $blue;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

#user-summary {
  display: flex;
  align-content: space-around;
}

.summary-section {
  display: flex;
  flex-direction: column;
  @include sides-margin(8px);

  h2 {
    margin-bottom: 4px;
  }
}

#user-summary p {
  align-self: center;
}

#edit-profile > form {
  display: flex;
  flex-direction: column;
}
