{{> ./partials/header}}
{{> ./partials/navbar}}

<main class="main-container">
  <section id="edit-profile">
    <h1 class="main-title">Edit your profile</h1>
    <form action="/users/{{id}}?_method=PUT" method="POST" enctype="multipart/form-data">
      <img class="avatar-xlg" src="{{API_HOST}}/{{profilePic}}">
      <input type="file" name="user[profilePic]">
      <label for="first-name">First name:</label>
      <input id="first-name" type="text" name="user[firstName]" placeholder="First name" value={{firstName}}>
      <label for="last-name">Last name:</label>
      <input id="last-name" type="text" name="user[lastName]" placeholder="Last name" value={{lastName}}>
      <label for="age">Age:</label>
      <input id="age" type="text" name="user[age]" placeholder="Age" value={{age}}>
      <ul>
        {{#emails}}
        <li>{{.}}</li>
        {{/emails}}
        <li>
          <span>Add another email address</span>
          <input type="text" name="email" placeholder="name@example.com">
          <button class="btn-primary" type="submit">Add Email</button>
        </li>
      </ul>
      <button class="btn-primary" type="submit">Submit changes</button>
      <a class="btn-secondary" href="/users/{{id}}">Cancel</a>
    </form>
    <form action="/users/{{id}}?_method=DELETE" method="POST">
      <button class="btn-danger" type="submit">Delete account</button>
    </form>
  </section>
</main>

{{> ./partials/footer}}
