{{> ./partials/header}}
{{> ./partials/navbar}}

<main class="main-container">
  <section class="main-container module">
    <h1 class="title main-title">Edit your profile</h1>
    <form>
      <label for="first-name">First name:</label>
      <input id="first-name" type="text" name="user[firstName]" placeholder="First name" value={{firstName}}>
      <label for="last-name">Last name:</label>
      <input id="last-name" type="text" name="user[lastName]" placeholder="Last name" value={{lastName}}>
      <label for="age">Age:</label>
      <input id="age" type="text" name="user[age]" placeholder="Age" value={{age}}>
    </form>
  </section>
</main>

{{> ./partials/footer}}
