{{> ./partials/header}}
{{> ./partials/navbar}}

<section id="user-profile">
  {{#profilePic}}
    <img class="avatar-xlg" src="{{API_HOST}}/{{profilePic}}">
  {{/profilePic}}
  {{^profilePic}}
    <img class="avatar-xlg" src="/assets/placeholder/blank-pp.png">
  {{/profilePic}}
  <h1 class="main-title">
    {{#firstName}}
      {{firstName}}
    {{/firstName}}
    {{^firstName}}
      Mr.
    {{/firstName}}
    {{#lastName}}
      {{lastName}}
    {{/lastName}}
    {{^lastName}}
      Unkwown
    {{/lastName}}
  </h1>
  <summary id="user-summary">
    <div class="summary-section">
      <h2>Posts:</h2>
      <p>{{posts.length}}</p>
    </div>
    <div class="summary-section">
      <h2>Comments:</h2>
      <p>{{comments.length}}</p>
    </div>
    <div class="summary-section">
      <h2>Level:</h2>
      <p>{{#level}}{{level}}{{/level}}{{^level}}0{{/level}}</p>
    </div>
    <div class="summary-section">
      <h2>Avg. score:</h2>
      <p><i class="fas fa-star"></i> 0</p>
    </div>
  </summary>
  {{#hasSession}}
  {{^isOwner}}
  {{^isFriend}}
  <div class="dropdown">
    <button><i class="fas fa-ellipsis-h"></i></button>
    <ul class="dropdown-content">
      <form action="/users/{{id}}/friends" method="POST">
        <button class="btn-secondary" type="submit"><i class="fas fa-user-friends"></i> Add Friend</button>
      </form>
    </ul>
  </div>
  {{/isFriend}}
  {{/isOwner}}
  {{/hasSession}}
</section>

<main class="main-container">
  <section>
    <h2 class="section-title">Posts</h2>
    <ol class="list">
      {{#posts}}
        <li>
          {{> ./partials/post-list-li}}
        </li>
      {{/posts}}
    </ol>
  </section>
</main>

{{> ./partials/footer}}
