<a href="/posts/{{id}}">
  <!-- <img src="https://via.placeholder.com/600x600"> -->
  <img src="/assets/{{random}}.jpeg">
  <article id="post{{index}}" class="carousel-el-preview">
    <h3>{{title}}</h3>
    <p>{{excerpt}}</p>
    <p>{{author}} <span class="date">• {{date}}</span></p>
  </article>
</a>
