<article class="min-container">
  <img class="avatar-md" src="{{API_HOST}}/{{ppPath}}">
  <div class="summary">
    <div class="comment-header">
      <h3>{{author}}</h3>
      {{#sessionOwns}}
      <div class="dropdown">
        <button><i class="fas fa-ellipsis-h"></i></button>
        <ul class="dropdown-content">
          <button type="button">Edit</button>
          <form action="/posts/{{id}}/comments/{{commentId}}?_method=DELETE" method="POST">
            <button type="submit">Delete</button>
          </form>
        </ul>
      </div>
      {{/sessionOwns}}
    </div>
    <p>{{content}}</p>
  </div>


  <!-- <form action="/posts/{{id}}/comments/{{commentId}}?_method=PUT" method="POST">
    <textarea name="comment[content]">{{content}}</textarea>
    <button type="button">Submit changes</button>
  </form> -->
</article>
