</head>
<body>

<header id="navbar">
  <ul class="main-container">
    <li id="menu-bar"><i class="fas fa-bars"></i></li>
    <li><a href="/home"><i class="fas fa-home"></i>Home</li>
    <li><a href="/network"><i class="fas fa-globe"></i>Network</a></li>
    <li id="nav-logo"><a href="/">{SD}</a></li>
    <li id="search-icon"><i class="fas fa-search"></i></li>
    <li id="search-bar"><input type="text" name="search" placeholder="Search"></li>
    {{#hasSession}}
      <li><i class="fas fa-envelope"></i></li>
      <li>
        <a href="{{CLIENT_HOST}}/users/{{sessionUserId}}">
          <img class="avatar-sm" src="{{API_HOST}}/{{ppPath}}">
        </a>
      </li>
      <li>
        <a href="{{CLIENT_HOST}}/posts/new">
          <i class="fas fa-plus"></i>
        </a>
      </li>
    {{/hasSession}}
    {{^hasSession}}
      <li><a href="/register">Sign Up</a></li>
      <li><a href="/login">Sign In</a></li>
    {{/hasSession}}
  </ul>
</header>
