</head>
<body>

<header id="navbar">
  <ul class="main-container">
    <li id="menu-bar"><i class="fas fa-bars"></i></li>
    <li><a href="/home"><i class="fas fa-home"></i>Home</li>
    <li><a href="/network"><i class="fas fa-globe"></i>Network</a></li>
    <li id="nav-logo"><a href="/">{SD}</a></li>
    <li id="search-icon"><i class="fas fa-search"></i></li>
    <li id="search-bar"><input type="text" name="search" placeholder="Search"></li>
    {{#hasSession}}
      <li><i class="fas fa-envelope"></i></li>
      <li>
        <div class="dropdown">
          <img class="avatar-sm" src="{{API_HOST}}/{{ppPath}}">
          <ul class="dropdown-content">
            <div>
              <a href="/users/{{sessionUserId}}">Profile</a>
            </div>
            <div>
              <a href="/users/{{sessionUserId}}/edit">Settings</a>
            </div>
            <div>
              <a href="/logout">Logout</a>
            </div>
          </ul>
        </div>
      </li>
      <li>
        <a href="{{CLIENT_HOST}}/posts/new">
          <i class="fas fa-plus"></i>
        </a>
      </li>
    {{/hasSession}}
    {{^hasSession}}
      <li><a class="btn-secondary" href="/login">Sign In</a></li>
      <li><a class="btn-primary" href="/register">Sign Up</a></li>
    {{/hasSession}}
  </ul>
</header>
