<article class="min-container">
  <!-- <img class="post-preview" src="{{API_HOST}}/{{path}}"> -->
  <img class="post-preview" src="/assets/{{random}}.jpeg">
  <div class="summary">
    <a href="/posts/{{id}}"><h3>{{title}}</h3></a>
    <article>
      <p>{{excerpt}}</p>
    </article>
    <section class="date">
      {{date}}
    </section>
    <section>
      <p><i class="fas fa-star"></i> {{^score}}0{{/score}}{{score}}</p>
    </section>
  </div>
</article>
