<article class="min-container">
  <!-- <img class="post-preview" src="{{API_HOST}}/{{path}}"> -->
  <img class="post-preview" src="/assets/{{random}}.jpeg">
  <div class="summary">
    <a href="/posts/{{id}}"><h3>{{title}}</h3></a>
    <p>{{excerpt}}</p>
    <p>
      Author: <a href="/users/{{userId}}" class="author">
      {{#author}}
        {{author}}
      {{/author}}
      {{^author}}
        Mr. Unknwon
      {{/author}}</a>
    </p>
    <p class="date">{{date}}</p>
    <section>
      <p><i class="fas fa-star"></i> {{score}}</p>
    </section>
  </div>
</article>
