<article class="min-container">
  <img class="post-preview" src="{{API_HOST}}/{{path}}">
  <div class="summary">
    <a href="/posts/{{id}}"><h3>{{title}}</h3></a>
    <article>
      <p>{{text}}</p>
    </article>
    <article>
      {{author}}
    </article>
    <section>
      {{date}}
    </section>
    <section>
      <i class="fas fa-star"></i>
      <i class="fas fa-star"></i>
      <i class="fas fa-star-half-alt"></i>
      <i class="far fa-star"></i>
      <i class="far fa-star"></i>
    </section>
  </div>
</article>
