{{> ./partials/header}}
</head>
<body>

<main id="sign-form" class="main-container">
  <section>
    <h1 class="main-title">Sign Up</h1>
    <form action="/register" method="POST">
      <label for="email-input">Email:</label>
      <input id="email-input" type="email" name="user[email]" placeholder="Email">
      <label for="password-input">Password:</label>
      <input id="password-input" type="password" name="user[password]" placeholder="Password">
      <button class="btn btn-primary" type="submit">Sign Up</button>
      <a class="btn btn-secondary" href="/">Cancel</a>
    </form>
  </section>
</main>

{{> ./partials/footer}}
