{{> ./partials/header}}
</head>
<body>

<main class="main-container">
  <section class="main-container sign-form">
    <h1 class="title main-title">Sign In</h1>
    <form action="/login" method="POST">
      <label for="email-input">Email:</label>
      <input id="email-input" type="text" name="email" placeholder="Email">
      <label for="password-input">Password:</label>
      <input id="password-input" type="password" name="password" placeholder="Password">
      <button class="btn btn-primary" type="submit">Sign In</button>
      <button class="btn btn-secondary" type="button">Cancel</button>
    </form>
  </section>
</main>

{{> ./partials/footer}}
