{{> ../partials/header}}
  <link id="mainCSS"rel="stylesheet" type="text/css" href="../css/network-feed.css">
{{> ../partials/navbar}}

  <main class="main-container">
    <section class="module">
      <h1 class="title main-title">Popular on SocialDev</h1>
      <ol class="carousel">
        <li>
          <a href="#">
            <img src="https://via.placeholder.com/600x600">
            <article class="carousel-preview">
              <h3 class="title">Post Title</h3>
              <p>Occaecat ad mollit exercitation velit sunt velit ut adipisicing elit amet sunt voluptate minim anim consequat incididunt aute voluptate veniam minim aliqua deserunt ad reprehenderit.</p>
            </article>
          </a>
        </li>
        <ul class="carousel-selectors">
          <!-- <li><input type="radio" name="carousel-select"><span class="carousel-selector"></span></li>
          <li><input type="radio" name="carousel-select"><span class="carousel-selector"></span></li>
          <li><input type="radio" name="carousel-select"><span class="carousel-selector"></span></li>
          <li><input type="radio" name="carousel-select"><span class="carousel-selector"></span></li>
          <li><input type="radio" name="carousel-select"><span class="carousel-selector"></span></li> -->
          <li class="carousel-selector"><input type="radio" name="carousel-select"></li>
          <li class="carousel-selector"><input type="radio" name="carousel-select"></li>
          <li class="carousel-selector"><input type="radio" name="carousel-select"></li>
          <li class="carousel-selector"><input type="radio" name="carousel-select"></li>
          <li class="carousel-selector"><input type="radio" name="carousel-select"></li>
        </ul>
        <button type="button"><i class="fas fa-angle-left"></i></button>
        <button type="button"><i class="fas fa-angle-right"></i></button>
      </ol>
    </section class="module">

    <section class="module">
      <h2 class="title section-title">New on SocialDev</h2>
      <ol class="list"></ol>
      {{> ../partials/post-list}}
    </section>
  </main>

{{> ../partials/footer}}
