{{> ../partials/header}}

  <main class="main-container">
    <section class="module main-container">
      <h2 class="title section-title">Results for: <span class="section-title">post title</span></h2>
      <ol class="list">
        {{> ../partials/post-li}}
      </ol>
    </section>
    <ol class="pages-list">
      <li><a href="#"><<</a></li>
      <li><a href="#"><</a></li>
      <li class="current-page"><a href="#">1</a></li>
      <li><a href="#">2</a></li>
      <li><a href="#">3</a></li>
      <li><a href="#">4</a></li>
      <li><a href="#">5</a></li>
      <li><a href="#">></a></li>
      <li><a href="#">>></a></li>
    </ol>
  </main>

{{> ../partials/footer}}
